html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #3e3e3e;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font: .8em "Open Sans", sans-serif;
  height: 100%;
  background-color: #f6f6f6; 
  
}

*:not(html){
  -webkit-transform:translate3d(0,0,0);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#connect, #share {
  display: none;
}

#connect h2 {
  margin: 20px 0 10px;
}

fieldset {
  border: none;
  margin: 0;
  
  border-top: 1px solid #d7d7d7;
  -moz-box-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  padding: 20px 10px;
}

fieldset.radio {
  padding: 20px 0;
}

fieldset.radio h3 {
  padding: 0 10px;
}

textarea {
  width: 100%;
  margin: 4px 0;
  padding: 8px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #dbe0e4;
  border: 1px solid #b1bac1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4em;
  color: #343434;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
}

textarea, input[type=text], input[type=email] {
  margin: 4px 0;
  -webkit-appearance: none;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-shadow: none;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  display: none;
}

header h1 {
  margin-right: 200px;
  color: #767676;
}

.wrapper {
  max-width: 640px;
  margin: auto;
}

.wrapper.tight > *{
  padding: 0 20px;
}

.wrapper.centered {
  text-align: center;
}

.social_buttons {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.social_buttons li {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}


header .logo {
  height: 20px;
  margin: 4px 8px 2px;
  position: relative;
}

footer .logo {
  padding-top: 40px;
  width: 100px;
  margin: auto;
  position: static;
  display: block;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}

#foreground {
  background-color: #fcfcfc;
  width: 100%;
  padding: 40px 0;
  background-color: #f6f6f6; 
  min-height: 100%;
  
}

#form {
  margin-top: -30px;
}

h1 {
  height: 100%;
  margin: 0 10px;
  font: bold 2.8em 'Open Sans Condensed', sans-serif;
  color: #5a5a5a;
  padding: 10px 0;
}

h2 {
  margin: 10px;
  color: #747474;
  font: 300 'Open Sans Condensed', sans-serif;
  margin: 0 10px;
}

h3, fieldset:not(.radio) label {
  font: 400 1.8em 'Open Sans', sans-serif;
  color: #686868;
  margin: 0;
}

p {
  font-size: 1.4em;
}

/* @group Radio Button Stuff */

input[type=radio] {
  position: absolute;
  left: -1000px;
}

form {
  padding: 0;
  margin: 0;
}

input[type=radio] + label {
  padding: 20px 0 0;
  width: 20%;
  display: inline-block;
  color: #717171;
  font-weight: 600;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  float: right;
}

input[type=email], input[type=text] {
  display: block;
  padding: 8px 10px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #dbe0e4;
  border: 1px solid #b1bac1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4em;
  color: #343434;
  text-shadow: 0 1px 1px #ffffff;
}

fieldset:nth-of-type(even) {
  background-color: #fdfdfd;
}

fieldset:first-of-type {
  border: none;
  padding-top: 0;
}

.target {
  width: 50px; height: 50px;
  display: block;
  border: 3px solid #7a7a7a;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  top: -10px;
  margin-left: -25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ball {
  display: block;
  -webkit-transform: scale(0);
  background-color: #d1de91;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 0;
  width: 0;
  top: 25px;
  left: 25px;
  position: absolute;
  
  -webkit-transform:translate3d(0,0,0);
  
  -webkit-transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1); /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -moz-transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -ms-transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  -o-transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  transition: all 200ms cubic-bezier(0.280, 0.000, 0.345, 1.650);
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

/* @group A few bug fixes related this radio layout */

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } } /* Fix for pseudo and adjacent selector bug in older webkit. css-tricks.com/webkit-sibling-bug/*/

label > * { pointer-events: none; } /*This allows the users to tap behind the .ball and .target with FastClick.js*/

/* @end */

/* @group Flowing select animation */

input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(1) .ball {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(2) .ball {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(3) .ball {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(4) .ball {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(5) .ball {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}

input[type=radio]:nth-of-type(2):checked ~ :nth-of-type(2) .ball {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

input[type=radio]:nth-of-type(2):checked ~ :nth-of-type(3) .ball {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

input[type=radio]:nth-of-type(2):checked ~ :nth-of-type(4) .ball {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

input[type=radio]:nth-of-type(2):checked ~ :nth-of-type(5) .ball {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

input[type=radio]:nth-of-type(3):checked ~ :nth-of-type(3) .ball {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

input[type=radio]:nth-of-type(3):checked ~ :nth-of-type(4) .ball {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

input[type=radio]:nth-of-type(3):checked ~ :nth-of-type(5) .ball {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}

input[type=radio]:nth-of-type(4):checked ~ :nth-of-type(4) .ball {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

input[type=radio]:nth-of-type(4):checked ~ :nth-of-type(5) .ball {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

input[type=radio]:nth-of-type(5):checked ~ :nth-of-type(5) .ball {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

/* @end */

.text {
  z-index: 100;
  padding: 80px 0 0;
}

input[type=radio]:checked ~ label .ball {
  width: 52px;
  height: 52px;
  -webkit-transform: none;
  left: -4px;
  top: -4px;
  opacity: 1;
}

.binary input[type=radio] + label {
  float: left;
}

.binary input[type=radio]:nth-of-type(1):checked ~ :nth-of-type(2) .ball {
  width: 0;
  height: 0;
  top: 25px;
  left: 25px;
} 

select {
  display: block;
  margin: 10px 0;
  font-size: 1.5em;
}

select[multiple=multiple] {

}

/* @end */

/* @group Button Stuff */

button {
  margin: 20px 0px;
  padding: 15px;
  display: block;
  width: 100%;
  position:relative;
	color: #595a59;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d1de91;
  border-style: none;
  text-transform: uppercase;
  font: 1.1em 'Open Sans', sans-serif;
}

button.fb {
  background: -moz-linear-gradient(90deg, #354973 0%, #4a649b 100%) #4b659b;
  background: -webkit-gradient(linear, left bottom, left top, from(#354973), to(#4a649b)) #4b659b;
  border-color: #2e3f62;
  color: #f5f6f5;
}

button.fb:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#486096), to(#364d7c));
  background-image: -moz-linear-gradient(90deg, #486096 0%, #364d7c 100%);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.49);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.49);
}

button.subtle {
  color: #838383;
  background-color: rgba(182, 182, 182, 0);
/*  border: 4px solid #c9c9c9;*/
border: none;
}

button.subtle:active {
  border-color: #595959;
  background-color: rgba(182, 182, 182, 0);
  
}



button:active {
	top:1px;
  background-color: #bdcc74;
}

/* @end */